extends layout

block content
    div
        form(action='/portfolio' method='post' enctype='multipart/form-data')
            .form-group
                label(for='title') title
                input.form-control(name='title')
            .form-group
                label(for='body') body
                input.form-control(placeholder='Description of Project', name='body')
            .form-group
                label(for='slug') slug
                input.form-control(name='slug')
            .form-group
            label(for='image') image
            input.form-control(name='image', type='file')
            .form-group
                input.btn.btn-primary.btn-md(type='submit', value='Submit')