extends layout

block content
    include error
    div
        form(action='/blog' method='post', enctype='multipart/form-data')
            .form-group
                label(for='title') title
                input.form-control(name='title')
            .form-group
                label(for='body') body
                input.form-control(placeholder='write your post here', name='body')
            .form-group
                label(for='slug') slug
                input.form-control(name='slug')
            .form-group
                label(for='image') image
                input.form-control(name='image', type='file')
            .form-group
                input.btn.btn-primary.btn-md(type='submit', value='Submit')