h3 Featured Posts
    div.col-sm-6.col-md-4
        div.thumbnail
            each post in posts
                //- img(src=#{post.image})
                div.caption
                    a(href=post.url)
                        h4 #{post.title}
                        //- h3=#{post.summary}

                